# Projeto 1 - Ciência dos Dados

Nome: Gabriel Huerta Façanha

## Pergunta (s) a ser respondida

O Banco Africano de Desenvolvimento (AfDB) contribuiu na infraestrutura(saúde e educação) de países africanos?

## Explicação da hipótese e mecanismo

O AfDB é um fundo para o desenvolvimento da região africana que conta com ajuda de diversos países for do continente assim como países da África. O ponto é estudar se os investimentos desse fundo têm impacto no desenvolvimento da área. Para isso foram estudados alguns países beneficiados pelo bloco assim como países de fora dele para comparação.

## Bases de dados usadas

os dados de mortalidade infantil e taxa de adultos com hiv foram tirados do banco de dados em https://www.gapminder.org/data/

## Análise de dados

Insira abaixo uma análise de dados tratada para ter maior clareza. 

Lembre-se de que, além deste arquivo principal, você precisa entregar um ou mais *notebooks* mais brutos com todas as tentativas que fez e que não deram certo .

**Não inclua dados ou gráficos sem motivação nem interpretação** - sempre que fizer uma análise, plot ou tablea, diga qual sua intenção. Logo após a apresentação diga qual conclusão específica ou interpretação você tira daquela análise

In [2]:
%matplotlib inline

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\gabriel\Desktop\INSPER\Ciencia dos Dados\cd19\Projeto1

In [3]:
# mortalidade infantil por 1000 nascidos :
mi = pd.read_excel('child_mortality_0_5_year_olds_dying_per_1000_born.xlsx')
#mortalidade infantil como medidor para saúde e saneamento

#porcentagem de adultos (15 a 49) com hiv estimada:
hiv = pd.read_excel('newly_hiv_infected_percent_age_15_49.xlsx')
#taxa de adultos com HIV como medidor de saúde e educação

In [4]:
afdb = ['Angola','Gabon','Congo','Cameroon',"Cote d'Ivoire",'South Africa','Ghana','Ethiopia','Nigeria','Tunisia','India','Brazil']
sel_paises = mi.loc[mi['country'].isin(afdb)]
dados1 = sel_paises.set_index('country')
#dados1 se refere à primeira variável estudada (mortalidade infantil)
dados1

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
country,,,,,,,,,,,,,,,,,,,,,
Angola,486.0,486.0,486.0,486.0,486.0,486.0,486.0,486.0,486.0,486.0,...,128.0,119.0,111.0,104.0,96.8,91.2,86.5,82.5,83.1,81.6
Brazil,417.0,417.0,417.0,417.0,417.0,417.0,417.0,417.0,417.0,417.0,...,20.8,19.8,18.9,18.0,17.2,16.4,15.7,15.1,14.7,14.2
Cameroon,460.0,460.0,460.0,460.0,460.0,460.0,460.0,460.0,460.0,460.0,...,115.0,108.0,103.0,97.0,91.9,87.5,83.3,79.7,78.1,75.7
Cote d'Ivoire,428.0,428.0,428.0,428.0,428.0,428.0,428.0,428.0,428.0,428.0,...,113.0,111.0,108.0,105.0,102.0,98.3,95.1,91.8,87.5,84.2
Ethiopia,448.0,448.0,448.0,448.0,448.0,448.0,448.0,448.0,448.0,448.0,...,85.9,80.9,76.2,72.0,68.0,64.4,61.3,58.4,56.3,53.9
Gabon,436.0,436.0,436.0,436.0,436.0,436.0,436.0,436.0,436.0,436.0,...,66.3,63.7,61.0,58.2,55.3,53.0,50.6,47.4,47.2,45.8
Ghana,471.0,471.0,471.0,471.0,471.0,471.0,471.0,471.0,471.0,471.0,...,77.6,74.7,71.7,68.7,66.0,63.4,61.0,58.8,57.8,56.4
India,509.0,509.0,509.0,509.0,509.0,509.0,509.0,509.0,509.0,509.0,...,61.9,58.8,55.9,53.0,50.3,47.7,45.2,43.0,42.4,41.1
Nigeria,438.0,438.0,438.0,438.0,438.0,438.0,438.0,438.0,438.0,438.0,...,135.0,130.0,125.0,120.0,116.0,112.0,108.0,104.0,101.0,97.9
South Africa,398.0,398.0,398.0,398.0,398.0,398.0,398.0,398.0,398.0,398.0,...,61.5,53.7,49.8,48.0,46.0,44.5,44.1,43.3,40.9,39.8
Tunisia,460.0,460.0,460.0,460.0,460.0,460.0,460.0,460.0,460.0,460.0,...,18.3,17.4,16.5,15.8,15.2,14.6,14.0,13.6,13.1,12.6

In [6]:
sel_paises = hiv.loc[mi['country'].isin(afdb)]
dados2 = sel_paises.set_index('country')
#dados2 se refere à segunda variável estudada (taxa de adultos(15 a 49 anos) 
#porém não há dados suficientes para todos os países estudados)
dados2

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
country,,,,,,,,,,,,,,,,,,,,,
Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.06
Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.06
Cote d'Ivoire,1.03,1.30,1.46,1.46,1.30,1.08,0.88,0.72,0.60,0.51,...,0.34,0.30,0.26,0.22,0.19,0.16,0.13,0.11,NaN,NaN
Ethiopia,0.36,0.44,0.52,0.55,0.56,0.56,0.54,0.51,0.46,0.41,...,0.22,0.16,0.11,0.06,0.06,0.06,0.06,0.06,0.06,0.06
Honduras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.06
Indonesia,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,...,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06
Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.06
Lithuania,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,...,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,NaN,0.06
Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.06

In [7]:
# os anos de 1996 e 2006 foram marcantes pois representaram, respectivamente o quase colapso e um sinal de recuperação do Banco

dados1_2008 = dados1.loc[:,[1992,1996,2000,2003,2006,2010,2014,2018]]
dados1_2008

                1992   1996   2000   2003   2006   2010   2014  2018
country
Angola         223.0  222.0  207.0  186.0  158.0  119.0   91.2  81.6
Brazil          58.4   46.0   35.8   29.6   24.5   19.8   16.4  14.2
Cameroon       152.0  170.0  166.0  147.0  131.0  108.0   87.5  75.7
Cote d'Ivoire  151.0  151.0  146.0  135.0  124.0  111.0   98.3  84.2
Ethiopia       193.0  168.0  144.0  124.0  104.0   80.9   64.4  53.9
Gabon           90.8   88.4   84.6   79.9   74.1   63.7   53.0  45.8
Ghana          119.0  111.0  100.0   91.4   84.9   74.7   63.4  56.4
India          119.0  106.0   91.5   81.0   71.2   58.8   47.7  41.1
Nigeria        212.0  206.0  187.0  170.0  152.0  130.0  112.0  97.9
South Africa    55.1   59.1   66.7   73.2   72.6   53.7   44.5  39.8
Tunisia         52.3   42.0   31.7   26.0   21.7   17.4   14.6  12.6

## Conclusão

Responda à pergunta, argumento da melhor forma possível com base nos dados

 Os dados coletados mostram que após a crise do bloco em 1996 e antes de 2006 a taxa de mortalidade infantil decresceu menos rapidamente se comparado aos anos após a recuperação do Banco em 2006.
 Além disso de 1996 a 2006 os países de fora não sofreram esse efeito.