## Organização: Banco Africano de Desenvolvimento (AfDB)


   ***O Banco Africano de Desenvolvimento contribuiu na infraestrutura(saúde e educação) de países africanos?***
       
    >pretendia analisar:
               mortalidade infantil como medidor para saúde e saneamento
               taxa de adultos com HIV como medidor de saúde e educação

In [30]:
%matplotlib inline

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\gabriel\Desktop\INSPER\Ciencia dos Dados\cd19\Projeto1

In [31]:
# mortalidade infantil por 1000 nascidos :
mi = pd.read_excel('child_mortality_0_5_year_olds_dying_per_1000_born.xlsx')
#porcentagem de adultos (15 a 49) com hiv estimada:
hiv = pd.read_excel('newly_hiv_infected_percent_age_15_49.xlsx')

In [47]:

afdb = ['Angola','Gabon','Congo','Cameroon',"Cote d'Ivoire",'South Africa','Ghana','Ethiopia','Nigeria','Tunisia','India','Brazil']
sel_paises = mi.loc[mi['country'].isin(afdb)]
dados1 = sel_paises.set_index('country')
#dados1 se refere à primeira variável estudada (mortalidade infantil)

sel_paises = hiv.loc[mi['country'].isin(afdb)]
dados2 = sel_paises.set_index('country')
#dados2 se refere à segunda variável estudada (taxa de adultos(15 a 49 anos) 
#porém não há dados suficientes para todos os países estudados)

In [48]:
# os anos de 1996 e 2006 foram marcantes pois representaram, respectivamente o quase colapso e um sinal de recuperação do Banco

dados1_2008 = dados1.loc[:,[1992,1996,2000,2003,2006,2010,2014,2018]]
dados1_2008

                1992   1996   2000   2003   2006   2010   2014  2018
country
Angola         223.0  222.0  207.0  186.0  158.0  119.0   91.2  81.6
Brazil          58.4   46.0   35.8   29.6   24.5   19.8   16.4  14.2
Cameroon       152.0  170.0  166.0  147.0  131.0  108.0   87.5  75.7
Cote d'Ivoire  151.0  151.0  146.0  135.0  124.0  111.0   98.3  84.2
Ethiopia       193.0  168.0  144.0  124.0  104.0   80.9   64.4  53.9
Gabon           90.8   88.4   84.6   79.9   74.1   63.7   53.0  45.8
Ghana          119.0  111.0  100.0   91.4   84.9   74.7   63.4  56.4
India          119.0  106.0   91.5   81.0   71.2   58.8   47.7  41.1
Nigeria        212.0  206.0  187.0  170.0  152.0  130.0  112.0  97.9
South Africa    55.1   59.1   66.7   73.2   72.6   53.7   44.5  39.8
Tunisia         52.3   42.0   31.7   26.0   21.7   17.4   14.6  12.6

### Os dados coletados mostram que após a crise do bloco em 1996 e antes de 2006 a taxa de mortalidade infantil decresceu menos rapidamente se comparado aos anos após a recuperação do Banco em 2006